*, *::after, *::before  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 33, 44, 0.606);
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}


.logo {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;
}



.header-title {
  font-size: .925rem;
}

.edit {
  display: inline-block;
  width: 100px;
}

input {
  padding: .5em;
  border: none;
  margin-bottom: .5em;
  border-radius: 5px;
  width: 40%;
  font-size: 1.2rem;
}

hr {
  margin-top: .5em;
}

label {
  display: block;
  margin-bottom: .5em;
}

.form {
  margin: 2em 1em;
}

button {
  padding: .5em 1.5em;
  display: block;
  border: none;
  color: wheat;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: .5em;
  border-radius: 5px;
}

.save {
  background-color: green;
}

.edit {
  background-color: red;
}

.preview {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .5em;
}